body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    background-image: url(./Hnet.com-image\ \(1\).jpg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button
{
    margin-top: 220px;
    width: 270px;
    padding: 15px;
    font-size: 25px;
    background-color:burlywood;
    border-radius: 20px;
}
button:hover
{
    background-color: darkseagreen;
}
a
{
    color: aliceblue;
    text-decoration: none;
}
h4 
{
  background-color: blueviolet;
  font-size: 30px;
  color: wheat;
  padding:10px 30px;
  position: relative;
  bottom: 40px;
}